html,body,#app{
    margin: 0;
    height: 100%;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.el-scrollbar__wrap {overflow-x: hidden;}/*去除横向滚动条*/
.el-scrollbar__view{height: 100%;}
.el-scrollbar__wrap{overflow-x: hidden!important;}
::-webkit-scrollbar {width: 6px;height: 6px; }/*滚动条的宽度*/
::-webkit-scrollbar-thumb {background-color: rgba(43,43,43,0.2);border-radius: 10px;}/*滚动条的滑块*/



.el-menu-vertical-demo{height: 100%;}
.el-menu-vertical-demo:not(.el-menu--collapse) {width: 200px;min-height: 400px;}

/*main中内容样式开始*/
.el-form-item {margin-bottom: 10px;}
.el-pagination{padding-top:20px;}
/*main中内容样式结束*/

/*导航标签样式开始*/
.el-tabs__item{border: 1px solid #f0f0f0;border-radius:4px;background: #FFF;height: 30px;line-height: 30px;color: #888;padding: 0 16px!important;margin:5px;}
.el-tabs__nav-scroll{padding-left:10px;background-color:#F5F7FA}
.el-tabs__item.is-active{color:#fff;background-color:#FFD700}
.el-tabs__active-bar{background-color:#E4E7ED;}
#tab-Home span{display: none!important;}/*第一个标签不能被关闭*/
/*导航标签样式结束*/

.el-form-item__content{text-align: left;}/*表格项靠左*/

.el-card__header{font-size:12px;padding:5px 10px;text-align: left}/*表格外套card样式*/

.el-menu-item.is-active{color:#eac100!important;}/*左侧导航样式*/

.el-table--small td, .el-table--small th{padding:4px 0}/*表格行高padding*/

.el-select__tags{ max-width:220px!important;}/*select多选时选中宽度*/

